.l-img img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px !important;
    object-fit: cover;
    margin: auto;
}

.main-img {
        /* border: 2px solid #ddd; */
    margin: auto;
}

.main-img img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


